[user]
	name = Krzysztof Dudek
	email = dudek.krzysztof94@gmail.com
[url "git@github.com:"]
	insteadOf = https://github.com/
[core]
	autocrlf = input
	eol = lf
[bash]
	showDirtyState = false
[init]
	defaultBranch = main
